div.messages.status.block {
  background-image: none;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline;
  font-size: x-small;
  font-style: italic;
  margin: 0 8px;
  padding: 2px 8px;
}

.menu-attach-block  {
  display: none;
  left: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 999;
}

#navigation li.attached-block a {
  display: inline-block;
}
#navigation li.attached-block a.attached-block {
  border-right: 1px solid #927C89;
}


.menu-attach-block-drop-link,
#navigation li a.menu-attach-block-drop-link  {
    background: transparent url("/misc/arrow-asc.png") no-repeat scroll;
    height: 100%;
    margin: 0;
    padding: 0 9px;
    text-indent: -9999em;
    width: 3px;
}

#navigation li.dropped a.menu-attach-block-drop-link  {
    background-image: url("/misc/arrow-desc.png");
    height: 100%;
    margin: 0;
    padding: 0 9px;
    text-indent: -9999em;
    width: 3px;
}



#navigation li a.menu-attach-block-drop-link:focus {
  border: none;
}